*:focus {
    outline:none
}
ul {
    list-style:none;
    padding:0;
    margin:0;
}
.menu-sanfona {
    border:1px solid #ccc;
    border-bottom:none;
    background:#eee;
}
.menu-sanfona span {
    padding:10px;
    display:block;
}

.menu-sanfona li ul {
    background:#ccc;
    display:none;
}

.menu-sanfona li:focus ul {
    display:block;
}

.menu{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    width: 35px;
    height: 35px;
  }