* {
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }


   /* Header Horizontal*/
  .headerPrincipal {
    display: grid;
    grid-template-columns: 220px 680px 200px;
  }

  .gridLogo {
    grid-column: 1;
  }
  .gridHeader1 {
    grid-column: 2;
    align-self: flex-end;
  }
  .gridHeader2 {
    grid-column: 3;
  }

  
  header {
    background-color: #FFF;
    padding: 5px;
    text-align: left;
    font-size: 10px;
    border-bottom:1px solid #ccc;
    color: #ccc;
  }

  .devops {
    color: blue;
  }
  
  nav {
    float: left;
    width: 15%;
    height: 500px; 
    border:1px solid #ccc;
    background:#eee;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    border: 1px;
    width: 70%;
  }
  
  /* Clear floats after the columns */
  section:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
 

  img{
    float: left;
    border: transparent thin solid;
    padding: 5px;
  }

  .action {
   float: left;   
   padding-right: 15px;
  }

  .actions {
    margin-bottom: 40px;
  }

  